html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #b7d3e1;
    font-family: Arial, Helvetica, sans-serif;
}

.time {
    font-family: 'Courier New', Courier, monospace;
}



.centered {
    margin: 0 auto;
    display: block;
    text-align: center
}

.pad {
    margin: 50 auto;
}