@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #5e8596, #829ea9, #b06673, #ce6e70, #7f5468);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

div#page {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.time {
    font-family: 'Play', Courier, monospace;
}

.centered {
    margin: 0 auto;
    display: block;
    text-align: center
}
.centeredInline {
    margin: 0 auto;
    text-align: center
}

.bottomSpace {
    margin-bottom: 14;
}
.topSpace {
    margin-top: 14;
}

.navButton {
    font-size: 32px;
    /* position: absolute;
    top: 0;
    left: 0; */
    padding-right: 4px;
    /* padding-bottom: 2px; */
    border-bottom-right-radius: 10px;
    color: white;
}

.navButton:hover {
    background-color: grey;
}

a {
    color: whitesmoke; 
}
a:hover, a:active {
    font-weight: bold
}

table#scheduleTable tr td {
    font-size: 150%;
    padding: 4px 2px;
}

h1.bigger {
    /* regular h1's are 2em */
    font-size: 3em;
}

section#credits {
    margin-top: 20vh
}

section#credits > a {
    margin: 5px;
}

section#options > * {
    display: block;
    margin-top: 2vw;
}

#flash {
    /* flex: 1; */
    display:none;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100vw;
    /* border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#flash.success {
    background-color: #d4edda; /* copied from bootstrap */
    color: #155724;
}

#flash.info {
    color: #0c5460; /* copied from bootstrap */
    background-color: #a7d6f5; 
}

#flash.warning {
    background-color: #faf0ce;
    color: #856404;
}

#flash.danger {
    background-color: #f38c95; 
    color: #721c24; /* copied from bootstrap */
    
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}