.editableListItem {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: rgba(0,0,0,.1);
	margin: 5px;
}

.editableListItem > :first-child {
	flex-grow: .5;
}

.editableListItem > * {
	margin: 5px;
}

/* styles the icons a bit */
.editableListItem .fas.fa-check:hover  {
	color: lightgreen;
}

.editableListItem .fas.fa-times:hover {
	color: red;
}
.editableListItem .fas.fa-edit:hover {
	/* font-size: 1.1em; */
	color: lightgray;
}