<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>{{ page.title }}</title>
        <meta name="apple-mobile-web-app-title" content="ClassClock">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="translucent">
        <link rel="apple-touch-icon" sizes="512x512" href="icons/classclockicon-512.png">
        <link rel="apple-touch-icon" sizes="192x192" href="icons/classclockicon-192.png">
        <link rel="shortcut icon" type="image/png" href="/icons/classclockicon-512.png" />
        <link rel="manifest" href="/manifest.json">
        <link href="https://fonts.googleapis.com/css?family=Play|Source+Sans+Pro" rel="stylesheet">
        
    </head>
    <body onload="{{ page.onload |default: "" }}">
        <p id="flash"></p>
        <div id="page">
            {{ content }}
        </div>
    </body>
     <!-- Matomo -->
     <script type="text/javascript" async>
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
        var u="//analytics.adriancedwards.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//analytics.adriancedwards.com/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</html>
